@charset "UTF-8";

	* {
	 	 margin: 0;
	 	 padding: 0;
	 	 box-sizing: border-box;
	 	 font-family: "Noto Sans KR", sans-serif;
	}

	a {
  		text-decoration: none;
  		color: black;
	}

	li {
  		list-style: none;
	}
	
	.wrap {
	  
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.form {
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.login {
	  border: 4px solid rgba(137, 178, 233);
	  width: 55%;
	  height: 75vh;
	  background: white;
	  border-radius: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}

	p{	
		color: rgba(137, 178, 233);
		font-size: 4em;
	}
	
	p a{
		color: rgba(137, 178, 233);
		font-size: 2em;
		text-decoration: none;
	}
	
	.login_sns {
		padding: 20px;
		display: flex;
	}

	.login_sns li {
		padding: 0px 15px;
	}

	.login_sns a {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 20px;
	}

	.login_input {
	  margin-top: 20px;
	  width: 80%;
	}

	.login_input input {
	  width: 100%;
	  height: 50px;
	  border-radius: 30px;
	  margin-top: 10px;
	  padding: 0px 20px;
	  border: 1px solid lightgray;
	  outline: none;
	}

	.login_etc {
	  padding: 10px;
	  width: 80%;
	  font-size: 12px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  font-weight: bold;
	}

	.submit {
	  margin-top: 50px;
	  width: 80%;
	}
	.submit input {
	  width: 100%;
	  height: 50px;
	  border: 0;
	  outline: none;
	  border-radius: 40px;
	  background: linear-gradient(to left, rgb(137, 178, 233), rgb(131, 201, 231));
	  color: white;
	  font-size: 1.2em;
	  letter-spacing: 2px;
	}
	
	.submit_btn:hover {
	cursor: pointer;
	filter: brightness(0.85);
	}
	
	b {
		color: red;
	}
	
	.wrap1 {
	  width: 100%;
	  height: 700px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.form1 {
	  width: 100%;
	  height: 700px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.wrap2 {
	  width: 100%;
	  height: 500px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.form2 {
	  width: 100%;
	  height: 500px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.login1 {
	  width: 30%;
	  height: 500px;
	  background: white;
	  border-radius: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}
	
	.login_input1 {
	  margin-left: 200px;
	  margin-top: 20px;
	  width: 500px;
	}

	.login_input1 input {
	  width: 300px;
	  height: 50px;
	  border-radius: 30px;
	  margin-top: 10px;
	  padding: 0px 20px;
	  border: 1px solid lightgray;
	  outline: none;
	}
	
	.submit1 {
	  margin-left: 200px;
	  margin-top: 50px;
	  width: 500px;
	}
	.submit1 input {
	  width: 300px;
	  height: 50px;
	  border: 0;
	  outline: none;
	  border-radius: 40px;
	  background: linear-gradient(to left, rgb(137, 178, 233), rgb(131, 201, 231));
	  color: white;
	  font-size: 1.2em;
	  letter-spacing: 2px;
	}
	
	.submit1_btn:hover {
	cursor: pointer;
	filter: brightness(0.85);
	}

		
	