@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

	html {
	scroll-behavior: smooth;
	}
	
	body {
	font-family: 'Noto Sans KR' !important;
	}

	a {
	text-decoration: none;
	color: black;
	}
	
	ul{
	list-style: none;
	}
	
	li {
	list-style: none;
	}
	
	#container {
	  width: 50em;
	  padding: 0;
	  margin: auto;
	  height: 7em;
	  
	}
	
	#container:hover{
		background-color: #f7f7f7;
	}
	
	.qna_view_left {
	  text-align-last: left;
	}
	
	.qna_view_center {
	  align-items: center;
	  text-align: left;
	  font-size: 1.2em;
	  height: 59px;
      align-items: center;
	}
	.qna_view_right {
	  text-align: right;
	}
	
	.qna_sort {
		float: right;
		list-style: none;
		margin-right: 30%;
		margin-bottom: 20px;
	}
	
	.qna_language_sort {
		list-style: none;
		float:left;
		margin-left: 28%;
	}
	
	.qna_view_center{
		margin: auto;
	}
	
	#main_center {
		clear: both;
	}
	
	.pagination {
		justify-content: center;
	}
	
	#search_keyword {
		display: inline-block;
	}
	
	.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
	.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
	.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
	.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating)
	{
	border-start-start-radius: 7px;
	border-end-start-radius: 7px;
	}
	
	.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
	flex: 0.7;
	}
	
	#qna_view_writer { 
		color : skyblue;
		font-size: 14px;
		margin-bottom: 5px;
	}
	
	#qna_view_date {
		color: gray;
		font-size: 13px;
		margin-bottom: 0;
	}
	
	.etc {
		width: 560px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		line-height: 48px;
		color:black;
	}
	
	
	/* 배너 css */
	#qnabanner {
	border-radius: 20px; 
	}
	
	#main_top {
		margin-top: 50px;
		margin: auto;
		position: relative;
	}
	
	#search_top{
		margin-right: 5px;
		margin-left: 5px;
	}
	
	
	.bannerText{
		position: absolute;
		top:23%;
		left:12%;
		transform: translate(-50%, -50%);
		font-size: 1.5em;
		font-family: 'Noto Sans KR';
	}
	
	.bannerText2{
		position: absolute;
		top:35%;
		left:42%;
		width: 700px;
		transform: translate(-50%, -50%);
		font-size: 1.5em;
		font-family: 'Noto Sans KR';
		color: gray;
		font-family: 'Noto Sans KR';
	}
	
	/* 검색 버튼 css*/
	.qnaSearchWrite {
	display: flex;
	margin: auto;
	justify-content: center;
	}

	.btn.btn-outline-secondary {
	width: 86px;
	padding-left: 5px;
	padding-right: 5px;
	}
	
	/* 글쓰기 버튼 */
	#qnaWrite_btn {
	background-color: #2b59c6;
	border: 1px solid #2b59c6;
	height: 37px;
	}
	
	#qnaWrite_btn:hover {
		color: #2b59c6;
		border: 1px solid #2b59c6;
		background-color: white;
		border-radius: 5px;
	}
	
	/*페이지 css*/
	.active>.page-link, .page-link.active{
	--bs-pagination-active-bg:#2b59c6;
	--bs-pagination-active-border-color:#2b59c6;
	}
	
	.page-link{
	--bs-pagination-color : #2b59c6;
	}
	
	.pagination{
	--bs-pagination-color: #2b59c6;
	--bs-pagination-focus-box-shadow: 0 0 0 0.08rem rgba(13, 110, 253, 0.25);
	}
		
		
	/* 프로그램 언어 뱃지 */
	#qna .badge {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-padding-y: 0.5em;
    --bs-badge-font-size: 16px;
    width: 86px;
	height: 37px;
	}
	
	/* 정렬 dropdown */
	#qna .dropdown .btn-secondary {
    --bs-btn-color: black;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #gray;
	}
	
	
	#qna .text-bg-light {
    color: white !important;
    background-color: RGBA(192,192,192,var(--bs-bg-opacity,1))!important;
	}
	
	#qna .text-bg-secondary {
    color: #fff!important;
    background-color: RGBA(108,23,125,var(--bs-bg-opacity,1))!important;
	}
	

