@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

	body {
	font-family: 'Noto Sans KR' !important;
	}

	a {
	text-decoration: none;
	}
	
	#container {
	  display: flex;
	  width: 50em;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin: auto;
	}
	.qna_view_left {
	  flex: 1;
	  text-align-last: left;
	  flex-grow: 1;
	}
	
	.qna_view_center {
	  align-items: center;
	  flex: 3;
	  text-align: left;
	  font-size: 1.2em;
	  flex-grow: 5;
	}
	.qna_view_right {
	  flex: 1;
	  text-align: right;
	  flex-grow: 2;
	}
	
	.qna_sort {
		float: right;
		list-style: none;
		margin-right: 28%;
		margin-bottom: 20px;
	}
	
	.qna_language_sort {
		list-style: none;
		float:left;
		margin-left: 28%;
	}
	
	.qna_view_center{
		margin: auto;
	}
	
	#main_center {
		clear: both;
	}
	
	.pagination {
		justify-content: center;
	}
	
	#search_keyword {
		margin-top: 20px;
		margin-right: 10px;
		display: inline-block;
		width:35%;
	}
	
	#qna_view_writer { 
		color : skyblue;
		font-size: 14px;
		margin-bottom: 5px;
	}
	
	#qna_view_date {
		color: gray;
		font-size: 13px;
		margin-bottom: 0;
	}
	
